.section-languages {
    .section__content {
        p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

.language {
    width: 100%;

    span {
        display: inline-block;
    }

    &__name {
        width: 150px;
    }
    &__level {
        color: var(--dark-gray);
    }
}
