@use "../mixins" as m;

.user-short-info {
    align-items: center !important;

    &__image {
        width: 142px;
        height: 142px;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: 10px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.open-to-work {
                position: absolute;
                top: 0;
                left: 0;

                animation-name: openToWorkAnimation;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            @keyframes openToWorkAnimation {
                0% {
                    rotate: 0deg;
                }
                100% {
                    rotate: 360deg;
                }
            }
        }
    }

    &__name {
        font-size: 28px;
        text-transform: uppercase;
        line-height: .9;
        flex-direction: column;
        max-width: 300px;

        @include m.desktop {
            font-size: 55px;
        }
    }

    &__occupation {
        font-size: 12px;
        font-weight: 600;
        background: var(--dark-gray);
        color: #fff;
        padding: 8px 14px;
        border-radius: 30px;
        line-height: 1;
        margin-top: 8px;

        @include m.desktop {
            font-size: 18px;
        }
    }
}
